/*COLORES:
petróleo rgb(11, 133, 133)
turquesa rgb(42, 161, 161)
1 marrón bien oscuro  rgba(48, 35, 16, 0.726)
1 tostado #a18152
1 crema #faeedc
*/
@import "toastify-js/src/toastify.css";
* {
  margin:0;
  padding:0;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box; 
}

#tabla{
  display:none;
  margin: 4rem 0;
  font-size:1.2rem;
}


header .navbar {
  width: 100%;
  padding:0;
  margin:0;
  background-image: linear-gradient(90deg, rgb(11, 133, 133) 70%, white); }

  
.titulo-ppal{
  font-family: 'Playball', cursive;
  font-size: 4rem;
  color: #a18152; }

.descripcion {
  color: rgba(48, 35, 16, 0.726);
  font-size: 1.2rem;
font-family: "Lato", sans-serif; }

.comensales {
  text-align: center;
  font-size: 1.5rem;
  color: rgb(42, 161, 161); }
  select{
    background-color:#fcf8f4;
    color: rgba(48, 35, 16, 0.726);
    font-weight: bold;
  }
select option{
  font-size:1.1rem;
  background-color: rgb(42, 161, 161);
  color:#faeedc;
  text-align: center;
}
select:hover{
  background-color: rgba(48, 35, 16, 0.726);
  color: #faeedc;
}
.descriptivo {
  text-align: center;
  font-size: 1.5rem;
  color: rgb(11, 133, 133);
  margin: 2rem 0;
  }
.descriptivo span{
  font-size: 1.2rem;
}
.contenedor-receta{
  border: 0.15rem solid rgba(216, 189, 148, 0.938);
  box-shadow: 2px 6px 3px 3px  rgba(155, 131, 95, 0.938);
  border-radius: 10px;
}
.ingredientesSeleccionar, .cantidadesReceta, .productosCarrito {
display:flex;
justify-content: space-between;
flex-wrap: wrap;
}

.card-seleccionar, .card-body-receta, .card-carrito {
  width:14rem;
  border: 0.1rem solid rgb(103, 218, 218);
  border-radius: 5px;
  display: inline-block;
  box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 1rem;
  margin: 1rem 0.5rem; }
  .card-seleccionar label, .card-body-receta label, .card-carrito label {
    font-size: 1.4rem;
    color:  rgba(78, 57, 25, 0.89);
 }
  .card-seleccionar .card-img-top, .card-body-receta .card-img-top, .card-carrito .card-img-top {
    height: 5rem;
    width: 5rem;
    margin-bottom: 10px; }

.toastCheckbox{
  background-color:  #a18152;
  color:white;
  font-size:1.1rem;
}

.pasos, .sectionNosotros .tituloNosotros {
  color:  #a18152;
  font-size: 2rem;
  font-family: "Playball", serif;
  text-align: center; 
  margin: 1rem auto;}

.card-body-receta {
  border-color: #d8b787; }
  .card-body-receta h4 {
    font-size: 1.2rem;
    color:rgba(78, 57, 25, 0.966); }

.card-carrito {
  border-color: rgb(11, 133, 133);
  justify-items: space-evenly; 
  color: rgba(78, 57, 25, 0.89);
}
  .card-carrito h4 {
    font-size: 1.2rem; }
  .card-carrito h3 {
    font-size: 1.5rem; }
  .card-carrito  .btn-outline-secondary{
    font-weight: bold;
    font-size: 1.2rem;
    
  }


#btnConfirmarCompra{
  display:none;
}
.btnComprar, #tituloPT {
  background-color: rgb(42, 161, 161);
  font-family: "Playball", serif;
  font-size: 1.4rem;
  text-align: center;
  color: white;
  border-color: wheat;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 20px auto; }
.contenedorCarrito{
  display:flex;
  flex-wrap: no-wrap;
}

#tituloPT{
  font-family: "Lato", sans-serif;
  background-color: white;
  color: rgb(11, 133, 133);
  font-size: 2.2rem;
  margin:5px auto;
}
.sectionNosotros .tituloNosotros {
  margin: 150px 0 50px 0;
  text-align: center;
  font-size: 3rem; }

.sectionNosotros p {
  margin-bottom: 150px; }

/************* página comprar.html *******/
#formEnvio{
  margin:3rem 0;
}
#datosDeEnvio{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-evenly;
}
.imgForm{
  height:5rem;
}
.itemForm{
margin:1rem 0;
}
.metodosPago{
  margin:4rem 0;
}
.itemsPago{
  display:flex;
  justify-content: space-between;
}
#politica a:hover{
color:rgb(11, 212, 179);
}
/*************** Footer *******/
footer {
  background-color: #fcdaaf;
  line-height: 6vh;
  padding-top: 2rem; }
  footer .redesFooter {
    margin-bottom: 3vh; }
    footer .redesFooter a {
      margin: 0 1rem; }
  footer ul li {
    color: rgb(11, 133, 133);
    font-weight: normal;
    font-size: 1rem;
    line-height: 2vw;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    margin-bottom: 3vh; }
    footer ul li iframe {
      width: 10rem;
      height: 10rem;
      border-radius: 0.8vh; }
    footer ul li #subir {
      position: relative;
      font-weight: normal;
      color: white;
      text-decoration: none;
      background-color: rgba(151, 110, 49, 0.822);
      border-width: 1vh 1vh 0.5vh 0.5vh;
      border-style: double;
      border-color: wheat;
      border-radius: 10px;
      padding: 1.5vh;
      transition: padding 300ms, border-radius 300ms; }
      footer ul li #subir:hover {
        border-radius: 1.2vh;
        padding: 2vh; }
  footer ul .copyright {
    width: 100%;
    font-weight: normal;
    background-color: white;
    color: rgba(151, 110, 49, 0.822);
    text-align: center; }
